@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Press+Start+2P&display=swap');

:root {


  --clr-primary-light-3: #7595A6;
  --clr-primary-light-2: #56727F;
  --clr-primary-light-1: #3A4F5C;
  --clr-primary: #213743;
  --clr-primary-dark-1: #1B2D36;
  --clr-primary-dark-2: #15242A;
  --clr-primary-dark-3: #0F1A1F;

  --clr-secondary-light-3: #5E7E94;
  --clr-secondary-light-2: #466172;
  --clr-secondary-light-1: #2E4452;
  --clr-secondary: #1A2C38;
  --clr-secondary-dark-1: #15242D;
  --clr-secondary-dark-2: #101B22;
  --clr-secondary-dark-3: #0A1116;

  --clr-accent: #1475E1;
  --clr-accent-shadow-1: #0F5BB4;
  --clr-accent-shadow-2: #0A4186;
  --clr-accent-light-1: #3B8DE7;
  --clr-accent-light-2: #62A6ED;
  --clr-accent-light-3: #A0CBF5;



  --clr-black: #000000;
  --clr-white: #FFFFFF;

  --clr-grey: #333333;

  --clr-discount: #FF5252;

  --clr-green: #00C853;

  --fs-min: clamp(0.625rem, 0.6036rem + 0.1071vw, 0.7rem);
  --fs-body: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
  --fs-h5: clamp(0.9375rem, 0.8929rem + 0.2232vw, 1.09375rem);
  --fs-h4: clamp(1.0625rem, 0.9754rem + 0.4357vw, 1.3675rem);
  --fs-h3: clamp(1.1875rem, 1.0384rem + 0.7455vw, 1.709375rem);
  --fs-h2: clamp(1.3125rem, 1.077rem + 1.1777vw, 2.136875rem);
  --fs-h1: clamp(1.5625rem, 1.2457rem + 1.5839vw, 2.67125rem);

  --ff: 'Nunito', system-ui;
  --ff2: 'Press Start 2P', system-ui;

  --fw-bold: 700;
  --fw-black: 900;

}
