.btn {
  border-style: none;
  width: fit-content;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  gap: 10px;

  background-color: var(--_background, var(--clr-white));
  color: var(--_text, var(--clr-black));
  box-shadow: inset 0 -4px 0 0px var(--_stroke, var(--clr-black));

  transition: box-shadow 100ms ease-out, background 200ms, scale 100ms ease-out;

  cursor: pointer;

  > *{
    transition: translate .2s ease-out;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: var(--_background-hover, var(--clr-free));
    box-shadow: inset 0 -2px 0 0px var(--_stroke, var(--clr-black));

    > * {
      translate: 0 1px;
    }

  }

  &:focus-visible {
    outline: 2px solid var(--_stroke, var(--clr-black));
  }

  &:disabled {
    pointer-events: none;
    filter: grayscale(1);
  }

  &:active {
    background-color: var(--_background-active, black);
    box-shadow: none;
    scale: .98;
    > * {
      translate: 0 2.5px;
    }
  }
}

.btn.primary {
  --_background: var(--clr-primary);
  --_background-hover: var(--clr-primary-light-1);
  --_background-active: var(--clr-primary-dark-1);
  --_text: var(--clr-white);
  --_stroke: var(--clr-primary-dark-3);
  font-weight: var(--fw-bold);
}

.btn.secondary {
  --_background: var(--clr-primary-light-3);
  --_background-hover: var(--clr-primary-light-3);
  --_background-active: var(--clr-primary-light-2);
  --_text: var(--clr-primary-dark-3);
  --_stroke: var(--clr-primary-dark-3);
}

.btn.tertiary {
  --_background: var(--clr-secondary-light-2);
  --_background-hover: var(--clr-secondary-light-3);
  --_background-active: var(--clr-secondary-light-1);
  --_text: var(--clr-black);
  --_stroke: var(--clr-secondary);
}