.title-group{
  margin-bottom: 6px;
  color: var(--clr-primary-dark-3);
  display: flex;
  gap: 10px;
  align-items: center;

  & ~ *:is(.title-group){
    margin-top: 40px;
  }
}



section.sm,section.lg{
  .card{
    display: grid;
    --_offset : 16px;
    grid-template-columns: [background-start] var(--_offset) [game-image-start] auto [background-end] var(--_offset) [game-image-end];
    grid-template-rows: 
    [game-image-start]
    var(--_offset)
    [background-start]
    auto
    [game-image-end price-cart-start]
    auto
    [price-cart-end background-end]
    ;


    border-radius: 20px;
    padding-bottom: 12px;
    row-gap: 6px;

    
    > .card-background{
      background-color: var(--clr-secondary);
      border-radius: 20px;

      grid-area: background;
    }
  }

  .card a{
    display: grid;
    grid-area: game-image;
    transition: translate .3s;
  }



  .card, .card a{
    text-decoration: none;
    position: relative;
    width: 195px;
    text-align: center;
    aspect-ratio: 3/2;


    &:hover, &:focus-visible{

      outline-color: var(--clr-accent);

      .black{
        opacity: 1;
      }
      
      .game-name{
        opacity: 1;
        translate: 0;
      }

      > a{
        translate: calc(var(--_offset) * -1);
      }

    }

    > .black{
      background-color: rgba(0, 0, 0, 80%);
      border-radius: 20px;
      opacity: 0;
      width: 195px;
      height: 130px;
      transition: opacity 200ms ease-out;
      z-index: 0;
    }

    > img{
      border-radius: 20px;
      overflow: hidden;
      width: 195px;
      aspect-ratio: 3/2;
      object-fit: cover;
      border: 5px solid var(--clr-secondary-dark-2);
    }

    > .game-name{
      color: var(--clr-white);
      font-weight: var(--fw-bold);
      text-wrap: wrap;
      opacity: 0;
      transition: translate .2s ease-out, opacity .2s ease-out;
      translate: 0 8px;
      padding: 6px;

    }

    
  }

}

section.lg{
  
  + *{
    margin-top: 36px;
  }

  .card, .card a{
    width: 450px;

    > img{
      width: 450px;
    }

    > .black{
      width: 450px;
      height: 300px;
    }
  }

  

}
