body > footer {
  margin-top: 40px;
  background-color: var(--clr-secondary);
  color: var(--clr-white);
  padding-block: 40px;
}

body > footer > .wrapper {
  display: grid;
  gap: 80px;
  justify-items: center;
}


body > footer > .wrapper .links-container {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  justify-content: space-between;
}

body > footer > .wrapper .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

body > footer > .wrapper .logo img {
  width: 100px;
  height: auto;
}

body > footer > .wrapper .logo h3 {
  text-align: center;
  font-size: var(--fs-h3);
  color: var(--clr-white);
  font-family: var(--ff2);
}

body > footer > .wrapper .logo .socials img {
  width: 190px;
  height: auto;
}

body > footer > .wrapper ul {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  gap: 5rem;
}

body > footer > .wrapper ul li {
  display: grid;
  gap: 16px;
  min-width: fit-content;
}

body > footer > .wrapper ul li h5 {
  color: var(--clr-accent);
  font-weight: var(--fw-black);
  
}

body > footer > .wrapper ul li > nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, var(--fs-body));
  font-weight: var(--fw-bold);
  gap: 8px;
}

body > footer > .wrapper ul li > nav > a {
  text-decoration: none;
}

body > footer > .wrapper ul li > nav > a:hover {
  color: var(--clr-accent-light-2);
}

body > footer > .wrapper > .copyright {
  color: var(--clr-white);
}

@media screen and (width < 800px) {
  body > footer > .wrapper > .links-container > ul {
    display: none;
  }
}
