.game-page-wrapper {
  margin-bottom: 20px;
  display: grid;
  width: 100%;
  grid-template-columns: [full-start info-start info-reduced-start] 1fr [info-reduced-end] 20ch [info-end more-games-start] auto [more-games-end full-end];
  grid-template-rows:
    [breadcrumbs-start]
    auto
    [breadcrumbs-end game-start]
    auto
    [game-end gameTitle-start]
    var(--fs-h2)
    [gameTitle-end gameRate-start]
    auto
    [gameRate-end gameInfo-start more-games-start]
    calc(var(--fs-body) * 10)
    [gameInfo-end game-instructions-start]
    auto
    [game-instructions-end related-content-start]
    300px
    [related-content-end comment-group-start]
    auto
    [comment-group-end more-games-end];
  gap: 12px;
  column-gap: 60px;
}


.game-page-wrapper .breadcrumbs {
  grid-column: info;
  grid-row: breadcrumbs;
  margin-top: 28px;
  display: flex;
  gap: 6px;
  color: var(--clr-accent-light-3);
}

.game-page-wrapper .breadcrumbs > a {
  text-decoration: none;
}

.game-page-wrapper .breadcrumbs > a[href]:hover {
  text-decoration: underline;
}

.game-page-wrapper .breadcrumbs > a:last-of-type {
  color: var(--clr-accent-light-2);
}


.game-page-wrapper .title {
  display: flex;
}


.game-page-wrapper .col-full {
  grid-column: full;
}

.game-page-wrapper .col-info {
  grid-column: info;
}

.game-page-wrapper .col-more-games {
  grid-column: more-games;
}

.game-page-wrapper .col-info-reduced {
  margin-top: 20px;
  grid-column: info-reduced;
}

.game-page-wrapper > .game-title {
  grid-row: gameTitle;
  color: var(--clr-primary-dark-3);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.game-page-wrapper > .game-title > .buttons-container {
  display: flex;
  justify-content: flex-end;
}

.game-page-wrapper > .game-title > .buttons-container > span {
  display: flex;
  gap: 20px;
}


.game-page-wrapper > .game-rate {
  margin-top: 10px;
  grid-row: gameRate;
  display: flex;
}


.game-page-wrapper #game-container {
  justify-items: center;
  grid-row: game;
  overflow: hidden;
  border-radius: 20px;
  max-height: 100%;
}

.game-page-wrapper #game-container > img {
  max-height: 700px;
  width: 100%;
  object-fit: cover;
  scale: 1.02;
  filter: blur(3px) brightness(.25);
}

.game-page-wrapper #game-container > .game-title {
  z-index: 0;
  display: grid;
  justify-items: center;
  gap: 12px;
  color: var(--clr-white);
}


.game-page-wrapper > .game-description {
  grid-row: gameInfo;
}


.game-page-wrapper > .related-content-title {
  margin-top: 50px;
  grid-row: related-content;
}

.game-page-wrapper > .related-content {
  margin-top: 110px;
  grid-row: related-content;
}


.game-page-wrapper > .comment-group-title {
  margin-top: 110px;
  grid-row: comment-group;
}

.game-page-wrapper > .comment-group {
  background-color: var(--clr-secondary);
  margin-top: 180px;
  padding: 30px;
  border-radius: 20px;
  grid-row: comment-group;
}

.game-page-wrapper > .game-instructions-title {
  margin-top: 100px;
  grid-row: game-instructions;
}

.game-page-wrapper > .game-instructions {
  margin-top: 150px;
  grid-row: game-instructions;
  display: grid;
  gap: 10px;
}

.game-page-wrapper > .game-instructions ol {
  line-height: 1.5rem;
  list-style-position: inside;
}

.game-page-wrapper > .game-instructions ol li {
  color: var(--clr-white);
}


.game-page-wrapper section.sm {
  border-radius: 30px;
  background-color: var(--clr-secondary);
  display: grid;
  justify-items: center;
  grid-row: more-games;
  overflow: unset;
  width: fit-content;
  padding: 20px;
  gap: 10px;
}


@keyframes translateTop {
  to {
    translate: 0 -3px;
    opacity: 1;
    rotate: 0deg;
  }
}

.comment {
  align-items: center;
}

.rate {
  display: flex;
  gap: 6px;
  align-items: center;
}

.rate > svg, .game-rate > svg {
  color: var(--clr-accent-light-2);
}

.star-jump:hover {
  animation: jump .3s cubic-bezier(.0,-5,1,5);
  cursor: pointer;
}