@import url("./root.css");
@import url("./badge.css");
@import url("./card.css");
@import url("./button.css");
@import url("./carousel.css");
@import url("./footer.css");


.stack {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;

  >* {
    grid-area: stack;
  }
}


*,
::after,
::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
}

[role="list"] {
  list-style: none;
}

input {
  border-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.content-grid,
.full-width {


  --_padding-inline: 50px;
  --_content-max-width: 1300px;

  --content-size: min(100% - (var(--_padding-inline) * 2), var(--_content-max-width), 100vw);
  --full-width-size: minmax(var(--_padding-inline), auto);

  display: grid;
  grid-template-columns:
    [full-width-start] var(--full-width-size) [content-start] var(--content-size) [content-end] var(--full-width-size) [full-width-end];
}

.content-grid>*,
.full-width>* {
  grid-column: content;
}


body {
  background-color: var(--clr-secondary);

  font-family: var(--ff);

  font-size: var(--fs-body);
  color: var(--clr-black);
  min-height: 100vh;
  min-height: 100dvh;


  display: grid;
  grid-template-rows: [header-start] auto [header-end main-start] 1fr [main-end footer-start] auto [footer-end];

  > main > .wrapper{
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

h5 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h5);
}

h4 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h4);
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

h2 {
  font-weight: var(--fw-black);
  font-size: var(--fs-h2);
}

h1 {
  font-weight: var(--fw-black);
  font-size: var(--fs-h1);
}

p,
li {
  text-wrap: pretty;
}

p {
  line-height: calc(var(--fs-body) * 1.5);
}

.bold {
  font-weight: var(--fw-bold);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-secondary-light-3);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-secondary-dark-1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-secondary-dark-3);
}